body {
    margin: 0;
    height: 100hv;

    background: #e0dede;
    display: grid;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: "bricolage";
    src: url("fonts/BricolageGrotesque_24pt_SemiCondensed-Regular.ttf");
}

img {
    width: 100%;
    height: 700px;
}

button {
    width: 100%;
    height: 50px;
    font-size: larger;
    font-family: "bricolage";
    background-color: #611616;
    border-color: #611616;
    color: #e0dede;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(170, 12, 38); /* Green */
    color: #e0dede;
}

#card {
    background-color: rgb(231, 231, 231);
    width: 100%;
    height: auto;
    margin-top: 10%;
    overflow: hidden; /*Esconde qualquer parte da imagem que ultrapasse a DIV */
    color: rgb(41, 38, 43);

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Padrao";
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}